Practical to Demonstrate: Handle structured (CSV), semi-structured (JSON), and
unstructured data (text files) to understand differences.

In [1]:
import json
import pandas as pd
import seaborn as sns
import nltk
from nltk.corpus import gutenberg

In [2]:
# Handling Structured Data (CSV) - Using Seaborn's Titanic dataset
df_csv = sns.load_dataset("titanic")  # Load inbuilt Titanic dataset
print("\nStructured Data (CSV):\n", df_csv.head())

# Handling Semi-Structured Data (JSON) - Using Sample JSON Dictionary
data_json = {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "skills": ["Python", "Data Science", "Machine Learning"]
}
df_json = pd.json_normalize(data_json)  # Convert JSON to DataFrame
print("\nSemi-Structured Data (JSON):\n", df_json)

# Handling Unstructured Data (Text) - Using NLTK Gutenberg Corpus
nltk.download('gutenberg')
text_data = gutenberg.raw('shakespeare-hamlet.txt')  # Load Hamlet text
print("\nUnstructured Data (Text File):\n", text_data[:200])  # Show first 200 characters

Structured Data (CSV):
    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Semi-Structured Data (JSON):
        name  age      city                                    skills
0  John Doe   30  New York  [Python, Data Science, Machine Learning]

[nltk_data] Downloading package gutenberg to /root/nltk_data...
[nltk_data]   Unzipping corpora/gutenberg.zip.

Unstructured Data (Text File):
 [The Tragedie of Hamlet by William Shakespeare 1599]


Actus Primus. Scoena Prima.

Enter Barnardo and Francisco two Centinels.

  Barnardo. Who's there?
  Fran. Nay answer me: Stand & vnfold
your sel